
body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 670px;
    background-image:url("/img/minimalist-artwork-of-rick-and-morty-chfsqooqmev4xjrw.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
form{
    
    background-color:rgb(245, 245, 245);
    border-radius:10px;
}
h1{
    text-align: center;
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px rgb(233, 12, 115);
}